<form (ngSubmit)="onRegister()" #registerForm="ngForm" autocomplete="off" class="container  heading-font">
  <div class="row">
    <label class="col-sm-3 text-end" for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="registrationData.username"
      minlength="6"
      required
      class="col-md-6"
      #username="ngModel" />
    <div *ngIf="username.invalid && username.touched" style="color:red">
      Username is required and must be at least 6 characters.
    </div>
  </div>

  <div class="row mt-2">
    <label class="col-sm-3 text-end" for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="registrationData.email"
      class="col-md-6"
      required
      email
      #email="ngModel" />
    <div *ngIf="email.invalid && email.touched" style="color:red">
      A valid email is required.
    </div>
  </div>

  <div class="row mt-2">
    <label class="col-sm-3 text-end" for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="registrationData.password"
      class="col-md-6"
      required
      minlength="6"
      #password="ngModel" />
    <div *ngIf="password.invalid && password.touched" style="color:red">
      Password is required and must be at least 6 characters.
    </div>
  </div>

    <div class="row mt-2">
    <label class="col-sm-3 text-end" for="password2">Re-Enter Password:</label>
    <input
      type="password"
      id="password2"
      name="password2"
      [(ngModel)]="registrationData.password2"
      class="col-md-6"
      required
      minlength="6"
      #password2="ngModel" />
    <div *ngIf="!matchPasswords() && password2.touched" style="color:red">
      Passwords must match.
    </div>
  </div>

  <div class="row-reverse m-4 text-center">
  <button class="col-lg-5 m-3" type="submit" class="btn stand-button button-font" [disabled]="registerForm.invalid">Register</button>
  </div>
</form>
