<div class="heading-font">
<h1 class="heading-font text-center">Log In</h1>
<br/>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm" autocomplete="off" class="container">
  <div class="row m-1">
    <label for="username" class="col-sm-3 text-end">Username:</label>
    <input 
      type="text" 
      id="username" 
      name="username" 
      [(ngModel)]="loginData.username" 
      required
      #username="ngModel"
      class="col-lg-6"/>
    <div *ngIf="username.invalid && username.touched" style="color:red">
      Username is required.
    </div>
  </div>

  <div class="row m-1">
    <label for="password" class="col-sm-3 text-end">Password:</label>
    <input 
      type="password" 
      id="password" 
      name="password" 
      [(ngModel)]="loginData.password" 
      required
      #password="ngModel"
      class="col-lg-6"/>
    <div *ngIf="password.invalid && password.touched" style="color:red">
      Password is required.
    </div>
  </div>

   <div *ngIf="errorMessage" class="error-message" style="color:red">
    {{ errorMessage }}
  </div>

  <div class="text-center mt-3">
  <button type="submit" class="btn stand-button button-font" [disabled]="loginForm.invalid">Login</button>
    <a routerLink="/register"><button type="button" class="btn stand-button button-font" >Sign-Up</button></a>
  </div>
</form>

</div>

