<!-- Modal Header -->
<div class="modal-header">
  <h4 *ngIf="plant == null" class="modal-title">Add a Plant to Your Garden</h4>
  <h4 *ngIf="plant != null" class="modal-title">Update this Plant</h4>

  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<!-- Modal Body -->
<div class="modal-body">
  <form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="commonName" class="form-label">Plant Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="e.g., Common Milkweed">
      <div *ngIf="plantForm.get('name')?.invalid && plantForm.get('name')?.touched" class="text-danger">
        Plant name is required.
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="sciName" class="form-label">Scientific Name (Optional)</label>
        <input type="text" id="sciName" class="form-control" formControlName="sciName">
      </div>
      <!-- <div class="col-md-6 mb-3">
        <label for="date-planted" class="form-label">Date Planted</label>
        <input type="date" id="date-planted" class="form-control" formControlName="datePlanted">
      </div> -->
    </div>

     <div class="mb-3">
      <label for="description" class="form-label">Description (Optional)</label>
      <input type="text" id="description" class="form-control" formControlName="description">
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
  <button type="button" class="btn cancel-button button-font" (click)="activeModal.dismiss()">Cancel</button>
  <button type="submit" class="btn update-button button-font" (click)="onSubmit()" [disabled]="plantForm.invalid">{{(plant == null) ? "Add Plant" : "Update Plant"}}</button>

</div>
